/* recever specs */
.clearfix:before,.clearfix:after{content:"";display:table;}
.aps-shortcode ul{list-style:none;}
.aps-features-list li{background: linear-gradient(to left,#8d49d2,#44b1c9);height:46px;margin-bottom:10px;position:relative;}
ul.aps-features-list {padding-right: 0px;}
.aps-shortcode *{line-height:1.5;padding:0;margin:0;list-style:none!important;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.aps-feature-oht:hover{background:#3a3a3a;}
.aps-feature-oht{height:100%;width:100%;font-size:13px;padding:0 10px 1px 19px;margin-bottom:10px;color:#fff;line-height:15px;position:absolute;top:0;left:0;}
span.aps-icon {line-height: 0;display: block;text-align: center;font-size: 20px;margin: 3px auto 0;opacity: 0.8;}  
.aps-list-icon{width: 46px;height:46px;padding:6px;color:#fff;font-size:24px;line-height:24px;position:absolute;top:0;left:0;z-index:5;background: repeating-linear-gradient(45deg, black, transparent 100px);}
.aps-icon-cpu:before{content:'\e893'}
.aps-feature-info{height:20px;position:relative;z-index:5;overflow:hidden;margin-top:-4px;font-weight:200!important;font-size:14.5px;}
.aps-feature-info strong{display:inline-block;}
.aps-main-features,.aps-video-col{float:left;width:50%;margin-left:10px;line-height:0;}
.aps-product-pic{max-width:45%;width:45%;height: 330px;float:right;border:1px solid #52525217;margin-top:14px;padding:8px}
@media screen and (max-width:768px){.aps-product-pic{width:100%;max-width:100%;height: auto;}.aps-main-features,.aps-video-col{width:100%;margin:0;}}
  /* table Sepcs */
#customers{width:100%;}  
div#customers{overflow: auto;}
table#customers {border-collapse: collapse;box-shadow: 0 -3px #3F51B5;margin-top: 30px;}
#customers td,#customers th,#customers tr{}
#customers td,#customers th{padding:2px 10px 2px 0;text-align:right;}
#customers td{border:1px solid #f7f8f9;}
#customers tr{border:1px solid #eaeaea;}
#customers tr:nth-child(even){;text-align:right;}
#customers tr:hover{background-color:#f1f5fe!important;color:#105df6;}
#customers td:hover{;}
#customers th{font-size:19px;padding-top:4px;padding-bottom:0;padding-left:10px;text-align:right;background-color:#f7f8f9;color:#444;}
/* Info Box Sepcs */
table.ns{width:100%}
.InfoBox{overflow:hidden;position:relative;display:block;margin:-5px}
.InfoBox>*{overflow:hidden;position:relative;float:right;width:25%;padding:8px}
.InfoBox>*>*{font-size:14px;height:80px;line-height:40px;padding:40px 10px 0;text-align:center;border-radius:10px 10px 0 0;display:block;overflow:hidden;position:relative;background:#f0f2f5}
.InfoBox>*>* i{color:#7b5cdb;position:absolute;height:40px;font-style:normal!important;line-height:60px;bottom:40px;right:0;left:0;font-size:25px;text-align:center}
.InfoBox>*>*+*{color:#444;height:40px;padding:0 10px;border-radius:0 0 10px 10px;background:#fff;font-size:13px;border:1px solid #ebf1f5;margin-top:5px}
.InfoBox>:hover>*{background:linear-gradient(to left,#8d49d2,#44b1c9);color:#fff}
.InfoBox>:hover>*+*{background:#fff;border-color:#38e;color:#222}
.InfoBox>*:hover>* i{color:#fff}
/* Bouton All Maj */
div#All-Maj-b {display: block;text-align: center;padding: 10px 0;border-radius: 100px;font-weight: bold;margin: 20px auto 0;}
